<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Moven Web Login Test</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta24/shoelace.css">
  </head>
  <body>
    <header id="head" class="text-center">
      <h1>
        Moven Web Login Test
      </h1>
    </header>

    <main class="container">
      <div class="row">
          <div class="col-md-9">

            <p>
              Login with <a href="http://202.6.215.230:9003/pfm/login?client_id=moven&amp;redirect_uri=https://moven-sample-login.glitch.me/callback&amp;scopes=openid">KlikBCA</a>
            </p>
            
            <p>
              Login with <a href="https://talos-moven-ie-prod.moven.com/authorize?client_id=moven&amp;redirect_uri=https://moven-sample-login.glitch.me/callback&amp;scopes=openid">MovenIE Talos</a>
            </p>
            
        </div>
      </div>
    </main>

  </body>
</html>
